@import "src/variable";

.weekday {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;

  &__item {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    justify-content: center;
    padding: 16px 0;

    &__text {
      font-weight: bold;
    }
  }
}
