@import "src/variable";

.header {
  display: flex;
}

.header__display-date {
  flex: 0 0 70%;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 8px;
  padding: 4px 0;
  font-weight: bold;
  background-color: $color-disabled;
  border-radius: $border-radius-main;
  cursor: pointer;

  &.pointer-disabled {
    pointer-events: none;
  }
}

.header__arrow {
  flex: 0 1 auto;
  width: 100px;
  cursor: pointer;
  transition: .3s ease-in-out;

  &:hover {
    background-color: $color-disabled;
    border-radius: $border-radius-main;
  }
}

.header__arrow--prev,
.header__arrow--next {
  position: relative;

  &::after{
    position: absolute;
    top: 50%;
    content: "";
    display: inline-block;
    border: solid #333333;
    border-width: 0 3px 3px 0;
    padding: 3px;
  }
}

.header__arrow--prev::after {
  left: 16px;
  transform: translateY(-50%) rotate(135deg);
}

.header__arrow--next::after {
  right: 16px;
  transform: translateY(-50%) rotate(-45deg);
}
