@import "src/variable";

.date-picker__input {
  width: 120px;
  padding: 8px;
  border: 1px solid $color-disabled;

  &__label {
    cursor: default;
  }

  &__placeholder {
    color: $color-disabled;
    cursor: default;
  }
}
