@import "src/variable";

.date {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  column-gap: 4px;

  &__item {
    flex: 1 0 13%;
    padding: 8px 0;
    cursor: pointer;

    &.prev,
    &.next {
      color: $color-disabled;
      cursor: not-allowed;
    }

    &.today {
      color: $color-red;
    }

    &.selected {
      color: $color-light;
      background-color: $color-red;
      border-radius: 50%;
    }

    &__label {
      text-align: center;
    }
  }
}

.month,
.year {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  column-gap: 8px;
  margin-top: 16px;

  &__item {
    flex: 1 0 23%;
    cursor: pointer;

    &.disabled {
      color: $color-disabled;
    }

    &.selected {
      color: $color-light;
      background-color: $color-red;
      border-radius: 50%;
    }

    &__label {
      text-align: center;
    }
  }
}

.month__item {
  padding: 24px 0;
}

.year__item {
  padding: 24px 0;
}
